/*========== RESET ==========*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
a{
    text-decoration: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

h2 {
    color: var(--first-color);
    font-size: 2em;
    text-align: center;
    margin-bottom:  1rem;
    font-family: monospace;
  }
  
  h2:after{
    content: '';
    display: block;
    width: 80px;
    height: 3px;
    background: var(--first-color);
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
  h2:before {
    content: '';
    display: block;
    width: 80px;
    height: 3px;
    background: var(--first-color);
    margin: 0 auto;
    
  }

/*========== CSS VARIAVEIS ==========*/

/*========== CORES ==========*/
:root{
    --base-color:#151515;
    --first-color:#f86465;
    --second-color:#0bf2f1;
    --body-text-color:#f5f5f5;
    --title-color: var(--second-color);
    --subtitle-color:var(--first-color);
}
/*======= FONTS =======*/
:root{
    --body-font:1rem;
    --big-font-size:1.5;
    --h2-font-size:1.25;
    --normal-font-size:1rem;
}



/*========== MENU ==========*/  
header{
    height: 70px;
    display: flex;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: space-between;
    background: var(--base-color);
}

#logo{
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: var(--first-color);
    font-size: xx-large;

}
.menu{
    display:  flex;
    list-style: none;
    gap: .5rem;
}

.menu a{
    display:  block;
    padding: .5rem;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: var(--first-color);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.menu a:hover{
    background-color: #f86465;
    color: var(--base-color);
}

#btn-mobile{
    display: none;
}

/*========== EM DESTAQUE ==========*/

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 500px;
  height: 282px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 500px;
  height: 282px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 500px;
  height: 282px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: #f86465;
  color: white;
  transform: rotateY(180deg);
}

.boxSerie__title{
    width: 100%;
    font-size: xxx-large;
    font-family: monospace;
}

.boxSerie__avaliacao{
    font-size: xxx-large;
    font-family: monospace;
    margin-bottom: 1.2rem;
}

.display{
    display: flex;
    overflow-x: scroll;
    width: 560px;
    height: 300px;
}

.display::-webkit-scrollbar{
    background-color: var(--base-color);
}
.display::-webkit-scrollbar-track{
    background-color: var(--first-color);
}
/*========== ULTIMAS AVALIAÇÕES ==========*/



/*========== ENTREVISTAS E MAKING-OF ==========*/



/*========== NOVIDADES ==========*/



/*========== SOBRE ==========*/



/* ========== EDITORIAL ==========*/



/*========== MEDIAS QUERY ==========*/


/*========== MOBILE MENU ==========*/
@media(max-width:768px){
    #btn-mobile{
        display: block;
    }

    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: var(--base-color);
        height: 0px;
        transition: .6s;
        z-index: 1000;
        -webkit-transition: .6s;
        -moz-transition: .6s;
        -ms-transition: .6s;
        -o-transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid var(--first-color) ;
        color: var(--first-color);
    }

    #menu a:hover{
        color: var(--base-color);
    }

    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        color: var(--first-color);
        font-family: monospace;
    }

    #icone{
        border-top: 2px solid;
        width: 20px;
        display: block;
        color: var(--first-color);

    }
    #icone::after,#icone::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
        position: relative;
    }

    #nav.active #icone{
        border-top-color: transparent;

    }

    #nav.active #icone::before{
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
    }

    #nav.active #icone::after{
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        top: -7px;

    }
}

/*========== MOBILE LANCAMENTOS ==========*/
@media(max-width:768px){

    .em-destaque__titulo{
        text-align: center;
        font-family: monospace;
        font-size: xx-large;
        text-transform: uppercase;
        margin-top: 1.5rem;

    }


    .flip-card {
        background-color: transparent;
        width: 300px;
        height: 169px;
    }

    .flip-card-inner {
        position: relative;
        width: 300px;
        height: 169px;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }


    .flip-card-front, .flip-card-back {
        display: block;
        width: 300px;
        height: 169px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }


    .flip-card-front {
        background-color: #bbb;
        color: black;
    }


    .flip-card-back {
        background-color: #f86465;
        color: white;
        transform: rotateY(180deg);
    }

    .display img{
        width: 300px;
        height: 169px;
    }

    .display{
        display: flex;
        max-width: 310px;
        flex-direction: row;
        overflow-x: scroll;
        margin: 0 auto;
        gap: 10px;
    }


    .flip-card{
        margin: 0 auto;
    }

    .boxSerie__btn{
        color: white;
        background-color: #151515;
        border: var(--base-color) 1px solid;
        padding: .5rem;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        font-family: monospace;
    }

    .boxSerie__btn:hover{
        background-color:white ;
        color: var(--base-color);
    }

    
}