/*========== RESET ==========*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
a{
    text-decoration: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*========== CSS VARIAVEIS ==========*/

/*========== CORES ==========*/
:root{
    --base-color:#151515;
    --first-color:#f86465;
    --second-color:#0bf2f1;
    --body-text-color:#f5f5f5;
    --title-color: var(--second-color);
    --subtitle-color:var(--first-color);
}
/*======= FONTS =======*/
:root{
    --body-font:1rem;
    --big-font-size:1.5;
    --h2-font-size:1.25;
    --normal-font-size:1rem;
}

/*========== MENU ==========*/  
.header{
    box-sizing: border-box;
    
    padding: 20px;
    background-color: var(--base-color);
}
.logo{
    max-width: fit-content;
    position: absolute;
    font-family: monospace;
    letter-spacing: .2rem;
    font-size: xx-large;
    margin-left: 20px;
    color: var(--first-color);
}
.menu{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: flex-end;
}

.nav-item{
    margin-right: 5px;
    padding: .25rem;
    margin-top: 5px;
}
.nav-item a{
    color: #151515;
    padding: 10px;
    transition: all 0.4s;
    background-color: var(--first-color);
    border-radius: 5px;
    border: 1px solid var(--first-color);
}

.nav-item a:hover{
    background-color:transparent;
    color:var(--first-color);
    
}

#search__input{
   box-sizing: border-box;
   padding: 5px;
   border-radius: 5px;
   background-color: var(--base-color);
   border: 1px solid var(--first-color);
   color: var(--first-color);
   outline: none;
}

#search__button{
    padding: 10px;
    width: 50px;
    border-radius: 5px;
    background: var(--base-color);
    color: var(--first-color);
    border: 1px solid var(--first-color);
}

#search__button:hover{
    background-color: var(--first-color);
    color: var(--base-color);
    transition: all 0.4s;
}
/*========== LANÇAMENTOS ==========*/
.movie-box{
    display: grid;
    grid-template-columns:  1fr 1fr;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

.movie-box img{
    grid-column: 1;
    width: 100%;
    display: block;
}

.movie__box-content{
    grid-column: 2;
    color: #f5f5f5;
    grid-template-columns: 1fr;

}

.movie__box-content span{
    display: block;
    padding: .25rem;
    background-color: #555;
    text-align: left;
    grid-column: 2;
}
.hidden{
display: none;
}



/*========== EM DESTAQUE ==========*/



/*========== ULTIMAS AVALIAÇÕES ==========*/



/*========== ENTEVISTAS E MAKING-OF ==========*/



/*========== NOVIDADES ==========*/



/*========== SOBRE ==========*/



/* ========== EDITORIAL ==========*/



/*========== MEDIAS QUERY ==========*/


/*X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .menu{
        background: whitesmoke;
        padding: 2rem;
    }
}
/*Small devices (landscape phones, 576px and up) */
@media (max-width: 767.98px) { }

/* Medium devices (tablets, 768px and up) */
@media (max-width: 991.98px) {  }

/* Large devices (desktops, 992px and up) */
@media (max-width: 1199.98px) {  }

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1399.98px) {  }